*.csv
mlruns/
__pycache__/
*.egg-info/
.venv/
.claude/
.vscode/
.pytest_cache/
docker-compose-datalake.yml


data/
notebooks/
results/
analysis/
experimental/

.env
*.bak
outputs/
.hydra/
mlflow.db*
*.log
start.sh

#Hydra

multirun/
outputs/
