# project files to exclude
notebooks/test*
results/
analysis/
experimental/
tests/
saved_adapters/


#Hydra directories
multirun/
outputs/

#dialysis data
*.parquet

# extra
.env
*.bak
.hydra/
mlflow.db*
*.log
start.sh
*.csv
mlruns/
__pycache__/
*.egg-info/
.venv/
.claude/
.vscode/
.pytest_cache/
docker-compose-datalake.yml
Internship.code-workspace
*.png
*.pdf
*.tex

docker/
.ipynb_checkpoints/